<html>
<head>
	<!-- load the bootstrap css here -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align: center; padding-top: 10px">
				<h1>Bills</h1>
			</div>
		</div>
		<br clear="all">
		<div class="row">
			<div class="col-md-2">
				<input class="form-control" style="font-style: italic;" type="text" placeholder="Bill Author" value="{{billauthor}}" id="billauthor"/>
				<small>e.g. Kamlager-Dove</small>
			</div>
			<div class="col-md-2">
				<select class="form-control" id="billlocation" style="font-style: italic;">
					<option value="">Location</option>
					{% for billlocation in billlocation %}
					<option value="{{billlocation}}" {% if selected_year == billlocation %}selected{%endif%}>{{billlocation}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<select class="form-control" id="billdate" style="font-style: italic;">
					<option value="">Date</option>
					{% for billyear in billyears %}
					<option value="{{billyear}}" {% if selected_year == billyear %}selected{%endif%}>{{billyear}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-2">
				<select class="form-control" id="billparty" style="font-style: italic;">
					<option value="">Party</option>
					{% for billparty in billparties %}
					<option value="{{billparty}}" {% if selected_year == billparty %}selected{%endif%}>{{billparty}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-md-4">
				<button style="width:100%;" class="btn btn-primary" id="filter-bill"><b>Filter</b></button>
			</div>
		</div>

		<!-- <form action="/bills" method="post">
		<input type="text" name="test"/>
		<p style="display: none;">{{test}}</p>
		<button>Filter</button>
			
		</form> -->
		
		<br>
		<div class="row">
			<div class="col-md-12 text-right">
				<!--<b>{{no_of_records}} speeches</b>-->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<table class="table table-striped thead-dark">
					<thead class="text-center">
						<td>Bill Number</td>
						<td>Date</td>
						<td>Bill Author</td>
						<td>Location</td>
						<td>Bill Title</td>
						<td>Party</td>
					</thead>
					<tbody>
						{% if (records is defined) and records %}
							{% for record in records %}
								<tr>
									<td>{{record.title}}</td>
									<td>{{record.date}}</td>
									<td>{{record.name}}</td>
									<!-- This line shows just the first 100 characters and cuts it after that -->
									<td>{{record.text[0:100] + " ..."}}</td>
								</tr>
							{% endfor %}
						{% else %}
						<tr>
							<td colspan="6" style="text-align: center; font-style: italic">No results</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<hr>
				<div class="col-md-4 offset-4">
					<button style="width:100%;" class="btn btn-success" id="download-bill"><b>Download</b></button>
				</div>
			</div>
		</div>
	</div>
	<!-- Load the javascript down here -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="static/js/main.js"></script>
</body>


</html>
