<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="container h-100">
		    <div class="row align-items-center h-100">
		        <div class="col-6 mx-auto">
		            <div class="jumbotron">
		                
		            </div>
		        </div>
		    </div>
		</div>
		<div class="row text-center">
			<a href="/appoints">
				> Search speeches by a speaker's last name
			</a>
		</div>
		
	</div>
</body>


</html>
